html {
    box-sizing: border-box;
}

*, ::after,
::before {
    box-sizing: inherit;
}

:root {
    --color_text: #1b1b1b;
    --color_white: #fff;
    --color_body: #f0f0f0;
    --color_blue: #4f5aee;
    --color_active: #3b47f1;
    --color_hover: #666fe9;
    --color_focus: #373faf;
}

body {
    margin: 0 auto;
    font-weight: normal;
    font-size: 16px;
    color: var(--color_text);
    background-color: var(--color_body);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1270px;
    width: 100%;
}

.btn__resert {
    padding: 16px 24px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #000;
    cursor: pointer;
    text-align: center;
    outline: none;
}

.btn__color {    
    background-color: var(--color_blue);
    color: var(--color_white);
    border: none;
    transition: background 0.3s ease-in;
}

.btn__color:hover {
    background-color: var(--color_hover);
}

/*Неаder*/

.header {
    padding: 25px 0;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    background-color: var(--color_white);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.menu__list, .header__left, .header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.menu__item {
    padding: 2px 5px;
}

.menu__link {
    position: relative;
    font-size: 24px;    
}

.menu__link::after {
    content: '';
    position: relative;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: var(--color_hover);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
}

.menu__link:hover::after {
    opacity: 1;
    visibility: visible;
}

/*Hero*/
.main {
    padding-top: 130px;
}
.hero__container {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero__left {
    padding-top: 50px;
}
.hero__title {
    font-size: 70px;
}

.hero__subtitle {
    font-size: 30px;
    max-width: 80%;
}

.hero__descr {
    max-width: 80%;
}

.hero__link {
    align-self: start;
}

.modal {         
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal.open {
    opacity: 1;
    visibility: visible;   
}

.disable-scroll {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.modal__wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.modal__body {
    margin: 0 auto;        
    padding: 30px;
    position: relative;
    width: 625px;
    border-radius: 10px;
    background-color: var(--color_white);
    transform: translateY(-200%);
    transition: transform 0.3s ease-in-out;
}

.modal.open .modal__body {
    transform: translateY(0);
}

.modal__title {  
    font-size: 40px;      
    text-align: center;
}
    
.modal__btn-exit {
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__btn-icon {
    width: 20px;
    height: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
}

.form__label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.form__input {
    padding: 10px 15px;
    border: 1px solid var(--color_text);
    outline: none;
    width: 100%;
}

.form__input::placeholder {
    opacity: 0.5;
}

.form__btn {
    align-self: center;
}